<?xml version="1.0" encoding="UTF-8" ?>

<phpunit colors="true"
		 bootstrap="./tests/bootstrap.php"
>

	<testsuites>
		<testsuite name="Pastebin Test Suite">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>

  <!-- Do not generate code coverage report on vendors directory. -->
  <filter>
    <blacklist>
      <directory suffix=".php">./vendor</directory>
    </blacklist>
  </filter>

</phpunit>
