{% extends "layout.twig" %}

{% block content %}

<h3>About</h3>
<p>
This pastebin was written by <a href="http://cavi.cc">Ryan Cavicchioni</a> and
is <a href="http://github.com/ryanc/pastebin">open source</a>.
</p>

{% endblock %}
