<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mmm Paste</title>
  <link type="text/css" rel="stylesheet" href="/css/ir_black.css">
  <link type="text/css" rel="stylesheet" href="/css/normalize.css">
  <link type="text/css" rel="stylesheet" href="/css/style.css">

  <script src="/js/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<div id="top-bar">
  <div id="logo">
    <a href="">Mmm Paste</a>
  </div>
  <ul id="navigation">
    <li><a href="/p/new">New</a></li>
  </ul>
</div>
<div id="content">
{% block content %}{% endblock %}
</div>
</body>
</html>
