<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mmm Paste</title>

  <link rel="shortcut icon" href="/favicon.png" />

  {% block css %}
  <link type="text/css" rel="stylesheet" href="/css/normalize.css">
  <link type="text/css" rel="stylesheet" href="/css/style.css">
  {% endblock %}

  {% block javascript %}
  {% endblock %}
</head>
<body>
<div id="top-bar">
  <div id="logo">
    <a href="">Mmm Paste</a>
  </div>
  <ul id="navigation">
    <li><a href="/new">New</a></li>
    <li><a href="/history">History</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</div>
<div id="content">
{% block content %}{% endblock %}
</div>
</body>
</html>
