{% extends "layout.twig" %}

{% block content %}
<div class="paste">
  <pre><code>{{ paste.paste | e }}</code></pre>
</div>
<ul id="pasteOptions">
  <li><a href="/p/{{ id | e }}/raw">Raw</a></li>
  <li><a href="/p/{{ id | e }}/download">Download</a></li>
</ul>
{% endblock %}
