{
    "debug": true,

    "db.options": {
        "driver": "pdo_sqlite",
        "path": "%pwd%/db/pastebin.db"
    },

    "twig.path": "%pwd%/views",
    "twig.options": {
        "cache": "%pwd%/cache/twig",
        "debug": true
    },

    "pastebin.title": "Mmm Paste",
    "pastebin.theme": "pojoaque",
    "pastebin.cache.maxage": 31536000,

    "monolog.logfile": "%pwd%/logs/pastebin.log"
}
