{
    "debug": true,

    "db.options": {
        "driver": "pdo_sqlite",
        "path": "%pwd%/db/pastebin.db"
    },

    "twig.path": "%pwd%/views",
    "twig.options": {
        "cache": "%pwd%/cache/twig",
        "debug": true
    },

    "monolog.logfile": "%pwd%/logs/pastebin.log"
}
