{
    "debug": false,

    "db.options": {
        "driver": "pdo_sqlite",
        "path": "%pwd%/db/pastebin.db"
    },

    "twig.path": "%pwd%/views",
    "twig.options": {
        "cache": "%pwd%/cache/twig"
    },

    "pastebin.title": "Mmm Paste",

    "monolog.logfile": "%pwd%/logs/pastebin.log"
}
