{
    "debug": true,

    "db.options": {
        "driver": "pdo_sqlite",
        "path": ":memory:"
    },

    "twig.path": "%pwd%/views",
    "twig.options": {
        "debug": true
    },

    "monolog.logfile": "php://memory",

    "pastebin.schema": "%pwd%/sql/schema.sql",
    "pastebin.title": "Mmm Paste",
    "pastebin.theme": "pojoaque",
    "pastebin.cache.maxage": 31536000,

    "session.test": true
}
